.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(43, 43, 43, 0.548);
    z-index: -100;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.w-modal {
    width: 450px;
    min-height: 100px;
    margin: 150px auto;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    position: relative;
    transform: translateY(-350px);
    transition: .4s ease-in-out;
}

.winmodal.open .w-modal {
    transform: translateY(0);
    transition: .4s ease-in-out;
}
.winmodal.open .overlay {
    opacity: 1;
    z-index: 1000;
    transition: .4s ease-in-out;
}

.m-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dbdada;
}

.m-body {
    border-bottom: 1px solid #dbdada;
}

.m-header, .m-body,.m-footer {
 margin: 5px;
} 

.m-close {
    cursor: pointer;
}


.cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cart-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 200px;
    margin: 12px;
    background-color: rgb(209, 209, 235);
}